/* Define your custom colors
/* :root { */
  /* --primary-color: maroon; */
  /* /* --secondary-color: #666;  */
  /* --text-color: black;  */
  /* --background-color: gainsboro; */
/* } */ 

/* Apply custom colors to specific elements */
/* .slideshow-main {
  background-color: var(--background-color);
}

.major-categories {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.major-categories img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.product-listing h2 {
  color: var(--text-color);
}

.product-card {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.product-card p {
  color: #666;
}

.paging-indexes button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.paging-indexes button:hover {
  background-color: #f0f0f0;
}

.paging-indexes button.active {
  background-color: maroon;
  color: #fff;
  border-color: maroon;
} */
.transition-effect {
  transition: scroll-behviour 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}
